:root {
  /**=========== color ===========*/
  --oit-clr-white: #fff;
  --oit-clr-black: #11383F;

  --oit-clr-green: #88DE7D;
  
  --oit-clr-green-neon: #D1F800;
  --oit-clr-green-soft: #C7E691;
  
  --oit-clr-green-dark: #1B4D3E;
  --oit-clr-forest-rich: #034833;

  --oit-clr-teal: #144443;
  --oit-clr-teal-2: #0F766E;
  --oit-clr-deep-teal: #073231;

  --oit-clr-olive: #364908;

  --oit-clr-yellow: #FFE88A;
  --oit-clr-purple: #D1BEFF;
  --oit-clr-blue: #2563EB;
  --oit-clr-dark-navy: #111727;

 
  --oit-gray-1: #F5F8F8;
  --oit-gray-2: #F8FAFC;
  --oit-text-body: #383F3E;
}


